

.contenedor-footer{
  background: rgba(0, 0, 0, 0.7);
  padding: 20px 0px 70px 0px ;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;

}

@media (max-width: 600px) {
  .logos{
    text-align: center;
  }
}

@media (max-width: 600px) {
  .footer-copyright{
    text-align: center;
    display: table-caption;
  }
}

@media (max-width: 600px) {
  .logos-academia{
    display: none;

  }
}


@media (max-width: 600px) {
  .contenerdor-orientacion{
    padding: 0rem!important;
    margin:0rem!important;

  }
}

