

.contenedor-footer{
  background: rgba(0, 0, 0, 0.7);
  padding: 15px 0px 15px 0px ;
  
  
}

@media (max-width: 600px) {
  .logos{
    text-align: center;
  }
}

@media (max-width: 600px) {
  .copy-r{
    text-align: center;
  }
}

@media (max-width: 600px) {
  .logos-academia{
    display: none;

  }
}


